language = "nodejs"
run = "npm start"

[deploy]
run = ["sh", "-c", "npm run build && npm run deploy"]

[env]
NODE_ENV=production

[packager]
language = "nodejs"
ignoredPackages = ["unit_tests"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

