language = "nodejs"
run = "npm start"

[deploy]
run = ["sh", "-c", "npm run build && npm run deploy"]

[packager]
language = "nodejs"
ignoredPackages = ["unit_tests"]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

